

<center>
<div class="col-md-10 about_box">
	<h2 class="about">Palermo Andre Deschamps</h2>
	<h3>Intro</h3>
	<p class="about_text">
		Hi my name is Palermo "Andre" Deschamps and I'm a full stack developer in Ruby, PHP, and Javascript. I've worked for a bunch of startups and started a few of my own. I'm a software engineer with a passion for building awesome and beautiful things. My strongest skills are in full stack development with Ruby on Rails and Node. I'm excited about technologies like React and Redux and have been working on a few projects with them.
	</p>
	<h3>Work</h3>
	<p class="about_text">
		I'm always happy to help out, shoot me an email if you would like to hire me for contract or freelance work. The best way to get in touch with me is through email. palermo.deschamps@gmail.com
	</p>
	<h3>Tech</h3>
	<p class="about_text">
		Ruby - Javascript - PHP - Ruby on Rails - Sinatra - Node - Express - React - Backbone - Angular - Laravel - HTML - CSS - SASS - Git - Mysql - Postgresql - Mongo - AWS - Devops 
	</p>
    <center style="margin-top:12px;">
	<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg"></i></a>
	<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg whitehub"></i></a>
	<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg "></i></a>
	<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg"></i></a>
	<p>palermo.deschamps@gmail.com</p>
	</center>
</div>
</center>

