

<center>
<div class="col-md-10 about_box">
	<h2 class="about">Palermo "Andre" Deschamps</h2>
	
	<p class="about_text">
		Hi my name is Palermo "Andre" Deschamps and I'm a front-end and full-stack developer in Javascript, Ruby, and PHP. I'm a software engineer with a passion for building awesome and beautiful things. I'm always excited to learn new things and add to my tool box as a developer. I work hard, fast, and pick up things quickly. Currently looking to be an asset as a front-end developer working with client side libraries and frameworks like react and angular.
	</p>
	<h3>Tech</h3>
	<p class="about_text">
		Ruby - Javascript - PHP - Ruby on Rails - Sinatra - Node - Express - React - Backbone - Angular - Laravel - HTML - CSS - SASS - Git - Mysql - Postgresql - Mongo - AWS - Devops 
	</p>
    <center style="margin-top:12px;">
	<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg"></i></a>
	<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg whitehub"></i></a>
	<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg "></i></a>
	<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg"></i></a>
	<p>palermo.deschamps@gmail.com</p>
	</center>
</div>
</center>

