<body class="index-body">
	

<div class=" me_box">
	
	<h2 class="name">Full Stack Software Engineer</h2>
	<center>
	<div class="image">
		<%= image_tag "graphicblue.png", :class => "mugshot" %>
	</div>
	</center>
	<center>
	<div class="social">
		<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg home1 home"></i></a>
		<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg home2 home"></i></a>
		<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg home3 home"></i></a>
		<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg home4 home"></i></a>
		<p>palermo.deschamps@gmail.com</p>
    </div>
    </center>
</div>

</body>