<div class="me_box">
	<h1 class="name"> Palermo A Deschamps</h1>
	<h2 class="job">Full Stack Software Engineer</h2>
	<div class="image">
		<%= image_tag "graphicyellow.png", :class => "mugshot" %>
	</div>
	<div class="social">
		<a href="https://twitter.com/palermo_tweets"><i class="fa fa-twitter-square fa-lg home"></i></a>
		<a href="https://github.com/PalermoD"><i class="fa fa-github-square fa-lg home"></i></a>
		<a href="https://www.linkedin.com/in/palermod"><i class="fa fa-linkedin-square fa-lg home"></i></a>
		<a href=".google.com/u/0/+PalermoDeschamps"><i class="fa fa-google-plus-square fa-lg home"></i></a>
		<p>palermo.deschamps@gmail.com</p>
    </div>
</div>

