@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

body {
	
	background-color: #D6D6D6 ;
}

.navbar-nav > li > a {
	color: white !important;
	font-weight: bolder;
}

.navbar-nav > li > a:hover {
	color: black !important;
	font-weight: bolder;
}

#logo {
	float: left;
	margin-right: 3px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	margin-left:15px;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.icon-bar {

}

.navbar-toggle {
	background: black !important;
}


.navbar-inverse {
	opacity: 0.8;
	background-color: black;
	border-color: transparent;
	
}

.navbar-collapse {
	border-color: white;
}

.mugshot{
   position: absolute;
   top: 45%;
   left: 50%;
   width: 300px;
   height: 300px;
   margin-top: -150px; /* Half the height */
   margin-left: -150px; /* Half the width */
   border-radius: 50%;
   border: solid;
   
}


.mugshotblog{
   width: 200px;
   height: 200px;
   margin-bottom: 10px; 
   border-radius: 50%;
   border: solid;
   box-shadow: 8px 8px 5px gray;
}

.image {
	margin-bottom: 10px;
	padding-bottom: 10px;
	clear:both; 
}

.name {
   text-align: center;
   position: absolute;
   top: 47%;
   left: 52%;
   font-weight: bold;
   padding-left: 35px;
   margin-top: -245px; /* Half the height */
   margin-left: -245px; /* Half the width */
   color: white;
   letter-spacing: -1px;
   
  
}

.job {
   text-align: center;
   position: absolute;
   top: 47%;
   left: 52%;
   margin-top: -210px; /* Half the height */
   margin-left: -210px; /* Half the width */
   color: gray;
   font-weight: bold;
}

.fa-lg {
	font-size: 5.333333em !important;
}

.fa-twitter-square {
	color: rgb(43, 162, 245);
}

.fa-linkedin-square {
	color: rgb(45, 117, 180);
}

.fa-google-plus-square {
	color: rgb(214, 82, 45);
}

.fa-github-square {
	color:black;
}

/*.whitehub {
	color: white !important;
}*/



.social {
   
   position: absolute;
   top: 52%;
   left: 51%;
   width: 300px;
   margin-top: 120px; /* Half the height */
   margin-left: -150px; /* Half the width */
   color:black;
   padding-top: 10px;
   clear:both
}

p {
	
	font-size: 18px;

}

.about {
	text-align: center;
	color: black;
}

.about_text {
	text-align: center;
	
}

.blog_text {
	text-align: center;
	color: black;
}


.about_box {
	background-color: white;
	margin-top: 75px;
	padding-left: 20px;
	padding-right: 20px;
	float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    
    box-shadow: 10px 10px 5px gray;
}


.blog_box {
	background-color: white;
	margin-top: 75px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 80px;
    border-radius: 1%;
    
    box-shadow: 10px 10px 5px gray;
    margin-bottom: 30px;
    
}

.sidebox {
	background-color: white;
	margin-top: 75px;
	text-align: center;
	margin-left: 20px;
	
    box-shadow: 10px 10px 5px gray;
    border-radius: 1%;
}

.sidebox2 {
	background-color: white;
	margin-top: 8px;
	text-align: center;
	margin-left: 20px;
	
    box-shadow: 10px 10px 5px gray;
    border-radius: 1%;
}

.image_box {
	
    
	margin-top: 100px;
}



.portfolio {
	text-align: center;
	color: black;
}

h3 > a {
	text-align: center;
	color: grey !important;

}

h3  {
	text-align: center;
	color: grey !important;

}

h4 {
	text-align: center;
	color: gray;
	
}

h1 {
	text-align: center;
	
}

.container {
	margin-top:3% !important;
}



/*body { 
  background: url(http://pic.1fotonin.com/data/wallpapers/144/WDF_1857837.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


.index-body { 
  
  background: url(http://www.wall321.com/download/view?resolution=2560x1600&file=MTY4MHgxMDUwLzIwMTIxMTE2L2RpZ2l0YWwgYXJ0IGFydHdvcmsgc21va2luZyBwaXBlIDE2ODB4MTA1MCB3YWxscGFwZXJfd3d3LndhbGwzMjEuY29tXzYzLmpwZw==&name=ZGlnaXRhbF9hcnRfYXJ0d29ya19zbW9raW5nX3BpcGVfMTY4MHgxMDUwX3dhbGxwYXBlcg==) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.index-body { 
  
  background:white;
}*/

.port-row {
	
	color: black;
	padding: 10px;
	margin-bottom: 20px;
	
	margin-left: 20px;
    margin-right: 20px;
    border-radius: 1%;
    

}



.blogdex {
	background-color: black;
	color: white;
	opacity: 0.7;
}

.home {
	color: black;
}



.navbar-nav > li:hover {
    background-color: white;
}

.corner-logo {
  bottom: 1%;
  right: 1%;
  position: fixed;
  width: 80px;
}

.home1:hover {
	color: rgb(43, 162, 245);
}

.home3:hover {
	color: rgb(45, 117, 180);
}

.home4:hover {
	color: rgb(214, 82, 45);
}

.home2:hover {
	color:gray;
}

.port-img {
	box-shadow: 10px 10px 5px gray;
	padding-left: 0px !important;
	padding-right: 0px !important;
	
	
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

iframe {
	width: 100% !important;
}

span {
	width: 100% !important;
}

#blog {
	background-color: #D6D6D6 !important;
}

